<!-- breadcrumbs -->
<div class="c-breadcrumbs-wrapper">
  <ul class="c-breadcrumbs__list">
    <li class="c-breadcrumbs__list-item">
      <a href="" class="c-breadcrumbs__list-link">Top</a>
    </li>
    <li class="c-breadcrumbs__list-item">
      <a href="" class="c-breadcrumbs__list-link">content</a>
    </li>
  </ul>
</div>
<!-- End of breadcrumbs -->
