<!-- breadcrumbs -->
<div class="c-breadcrumbs-wrapper">
  <ol class="c-breadcrumbs__list">
    <li class="c-breadcrumbs__list-item">
      <a href="<%= pages.home.link %>" class="c-breadcrumbs__list-link"
        ><%= pages.home.name %></a
      >
    </li>
    <li class="c-breadcrumbs__list-item">
      <a href="<%= breadcrumbs.link %>" class="c-breadcrumbs__list-link"
        ><%= breadcrumbs.name %></a
      >
    </li>
  </ol>
</div>
<!-- End of breadcrumbs -->
