<!-- l-footer -->
<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="p-footer-logo">
      <a href="#" class="p-footer-logo__link"
        ><img
          src="<%= siteInfo.path.img %>logo.svg"
          alt="ロゴ"
          width="120"
          height="60"
      /></a>
    </div>
    <nav class="p-footer__nav">
      <ul class="p-footer__nav-list">
        <li class="p-footer__nav-list-item">
          <a href="#">プライバシーポリシー</a>
        </li>
        <li class="p-footer__nav-list-item">
          <a href="#">サイトマップ</a>
        </li>
      </ul>
    </nav>
    <div class="p-footer__copyright-wrapper">
      <small class="p-footer__copyright">© 2023 sample.com</small>
    </div>
  </div>
</footer>
<!-- End of l-footer -->
