<!-- l-header -->
<header class="l-header">
  <div class="l-header__inner p-header__inner">
    <div class="p-header__logo">
      <a href="#" class="p-header__logo-link"
        ><img
          src="<%= siteInfo.path.img.common %>header-logo-white.svg"
          alt="石井花壇のロゴ"
          width="200"
          height="40"
      /></a>
    </div>
    <nav class="p-header__nav">
      <ul class="p-header__nav-list">
        <li class="p-header__nav-list-item">
          <a href="#">お部屋</a>
        </li>
        <li class="p-header__nav-list-item">
          <a href="#">お料理</a>
        </li>
        <li class="p-header__nav-list-item">
          <a href="#">温泉</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="p-header__btn">宿泊予約</button>
    <button type="button" id="js-button-hamburger" class="p-hamburger">
      <span class="p-hamburger__line"> </span>
    </button>
  </div>
</header>
<!-- End of l-header -->
