<!-- l-header -->
<header class="l-header">
  <div class="l-header__inner">
    <div class="p-header__logo">
      <a href="#" class="p-header__logo-link"
        ><img
          src="<%= siteInfo.path.img %>logo.svg"
          alt="ロゴ"
          width="120"
          height="60"
      /></a>
    </div>
    <nav class="p-header__nav">
      <ul class="p-header__nav-list">
        <li class="p-header__nav-list-item">
          <a href="#">News</a>
        </li>
        <li class="p-header__nav-list-item">
          <a href="#">About</a>
        </li>
        <li class="p-header__nav-list-item">
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" id="js-button-hamburger" class="c-button p-hamburger">
      <span class="p-hamburger__line"> </span>
    </button>
  </div>
</header>
<!-- End of l-header -->
