<!DOCTYPE html>
<html lang="ja">
  <%- include('./_inc/_head') %>

  <body>
    <%- include('./_inc/_header') %>
    <!-- l-main -->
    <div class="l-main"></div>
    <!-- End of l-main -->

    <%- include('./_inc/_footer') %>

    <!-- original js -->
    <script
      type="text/javascript"
      defer
      src="<%= siteInfo.path.js %>main.js"
    ></script>
  </body>
</html>
