@use "../foundation/_variable" as *;

.l-header {
    width: 100%;
}

.l-header__inner {
    @include responsive(lg, max) {
        padding: 0 rem(16px);
    }
    width: 100%;
    max-width: rem(1200px);
    margin: 0 auto;
    padding: 0 rem(20px);
}