@use "../../foundation/_variable" as *;

.p-access {
  background: url("../img/top/bg-white-large.jpg") center / contain;
}
.p-access__inner {
  max-width: rem(1220px);
  margin: 0 auto;
  padding-bottom: rem(110px);
}

.p-access__info {
  @include responsive(lg, max) {
    flex-direction: column;
    align-items: center;

    gap: rem(40px);
  }
  display: flex;
  margin-top: rem(70px);

  gap: rem(83px);
}

.p-access__info-content {
  @include responsive(lg, max) {
    max-width: rem(600px);
    margin: 0 auto;
  }
  line-height: 2.5;
}

.p-access__info-img {
  flex-shrink: 0;
  overflow: hidden;

  aspect-ratio: 656 / 370;
}

.p-access__info-note {
  @include responsive(lg, max) {
    margin-right: 0;
  }
  margin-right: -30%;
}

.p-access__map {
  width: 100%;
  max-width: rem(792px);
  margin: 0 auto;
  margin-top: rem(69px);

  aspect-ratio: 792 / 592;
}
.p-access__map iframe {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
