@use "../../foundation/_variable" as *;

.p-hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(40px);
}
.p-hamburger__line {
  @include responsive(lg, max) {
    display: block;
    width: rem(20px);
    height: rem(2px);
    margin-left: rem(10px);
    border-radius: 999px;
    background-color: $color-base;
  }
}
.p-hamburger__line::before,
.p-hamburger__line::after {
  @include responsive(lg, max) {
    display: block;
    width: rem(20px);
    height: rem(2px);
    border-radius: 999px;
    background-color: $color-base;
    content: "";
  }
}
.p-hamburger__line::before {
  @include responsive(lg, max) {
    transform: translateY(rem(-8px));
  }
}
.p-hamburger__line::after {
  @include responsive(lg, max) {
    transform: translateY(rem(6px));
  }
}
