@use "../../foundation/_variable" as *;

.p-media {
  display: flex;
  justify-content: space-between;
}

.p-media--rev {
  flex-direction: row-reverse;
}

.p-media__img {
  width: rem(525px) / rem(1180px) * 100%;
}

.p-media__img img {
  max-width: 100%;

  aspect-ratio: 525 / 300;
  object-fit: cover;
}

.p-media__content {
  position: relative;
  width: (rem(1180px) - rem(525px) - rem(80px)) / rem(1180px) * 100%;
  min-height: rem(381px);
  margin-top: rem(57px);
  padding-top: rem(60px);
}

.p-media__content::after {
  display: flex;
  position: absolute;
  top: 0;
  left: -40%;
  z-index: -1;
  width: 140%;
  height: 100%;
  background: url("../img/common/bg-white.jpg") center / cover;
  content: "";
}

.p-media--rev .p-media__content {
  padding-left: rem(60px);
}
.p-media--rev .p-media__content::after {
  left: 0;
}

.p-media--content-wide .p-media__content {
  width: 52%;
}
.p-media--content-wide .p-media__content::after {
  width: 130%;
}

.p-media__title {
  font-size: rem(24px);
  line-height: 1;
}

.p-media__text {
  margin-top: calc(rem(52px) - rem(16px));
}

.p-media__note {
  margin-top: calc(rem(52px) - rem(7px));
  font-size: rem(14px);
  line-height: 1.5;
}
