@use "../../foundation/_variable" as *;

.p-header__inner {
  display: flex;
  justify-content: start;
  align-items: center;
}

.p-header__logo {
  @include responsive(lg, max) {
    width: rem(140px);
  }
}

.p-header__logo-link {
  position: relative;
}

.p-header__logo-img--after {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s all;
}

.p-header__nav {
  @include responsive(lg, max) {
    position: fixed;
    top: 0;
    left: 0;
    // z-index: 100;
    transform: translateX(100%);
    width: 100%;
    height: 100vh;
    background-color: #cccccc90;
    transition: all 0.3s;
  }
}

.p-header__nav-list {
  @include responsive(lg, max) {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: rem(100px) rem(20px) rem(20px);
    color: $color-text;
  }
  display: flex;
  margin-left: min(120px, 10vw);

  gap: rem(30px);
}

.p-header__btn {
  @include responsive(lg, max) {
    padding: rem(10px) rem(15px);
    font-size: rem(14px);
  }
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: rem(19px) rem(37px);
  background-color: $color-btn;
  line-height: 1;
}

.p-header__btn::before {
  @include responsive(lg, max) {
    width: rem(18px);
    height: rem(18px);
  }
  display: block;
  width: rem(22px);
  height: rem(22px);
  margin-right: rem(10px);
  background: url("../img/common/icon-calendar.svg") no-repeat center
    center/contain;
  content: "";
}

// spメニューopenのとき
.is-open .p-header__nav {
  @include responsive(lg, max) {
    transform: translateX(0);
  }
}

// スクロールしたら色が変わる
.is-scrolled .p-header__nav {
  color: $color-text;
}

.is-scrolled .p-header__logo-img {
  color: $color-text;
}

.is-scrolled .p-header__logo-img--before {
  opacity: 0;
}

.is-scrolled .p-header__logo-img--after {
  opacity: 1;
}
