@use "../../foundation/_variable" as *;

.p-page__body {
  @include responsive(lg, max) {
    max-width: rem(600px);
  }
  max-width: rem(1220px);
  margin: 0 auto;
  padding: rem(36px) rem(20px) rem(150px);
}

.p-page__lead-wrapper {
  @include responsive(lg, max) {
    margin-top: rem(56px);
  }
  width: 100%;
  margin-top: rem(98px);
  text-align: center;
}

.p-page__media-wrapper {
  @include responsive(lg, max) {
    margin-top: rem(48px);
  }
  width: 100%;
  margin-top: rem(78px);
}
.p-page__media-wrapper > * + * {
  @include responsive(lg, max) {
    margin-top: rem(40px);
  }
  margin-top: rem(84px);
}
