@use "../../foundation/_variable" as *;

.p-page__body {
  @include responsive(lg, max) {
    max-width: rem(600px);
  }
  max-width: rem(1220px);
  margin: 0 auto;
  padding: rem(30px) rem(20px) 0;
}

.p-page__lead-wrapper {
  @include responsive(lg, max) {
    margin-top: rem(56px);
  }
  width: 100%;
  margin-top: rem(80px);
  text-align: center;
}

.p-page__media-wrapper {
  @include responsive(lg, max) {
    margin-top: rem(48px);
    padding-bottom: rem(64px);
  }
  width: 100%;
  margin-top: rem(70px);
  padding-bottom: rem(156px);
}

.p-page__media-wrapper > * + * {
  @include responsive(lg, max) {
    margin-top: rem(40px);
  }
  margin-top: rem(84px);
}

// 温泉ページの効能部分
.p-page__dl-wrapper {
  @include responsive(lg, max) {
    margin-bottom: rem(48px);
    padding: rem(40px) 0 rem(32px);
  }
  width: 100%;
  margin-bottom: rem(96.5px);
  padding: rem(82px) 0 rem(74px);
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.p-page__dl {
  max-width: rem(880px);
  margin: rem(38px) auto 0;
  border-top: 1px solid #e7e7e7;
  font-size: rem(15px);
}

.p-page__dl-title {
  font-size: rem(26px);
  text-align: center;
}

.p-page__dl-item {
  display: flex;
  padding: rem(10px) 0;
  border-bottom: 1px solid #e7e7e7;
}

.p-page__dl-term {
  width: 25%;
  font-weight: 400;
}

.p-page__dl-description {
  width: 75%;
  line-height: 1.6;
}
